.features.section {
    padding-bottom: 0;
}

.invisible-title {
    display: none;
}

.features__list {
    display: flex;
    justify-content: center;

    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    min-width: 270px;
    outline-color: 1px solid teal;


    @media screen and (max-width: $smartphone) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    @media screen and (max-width: $desktop) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}


.features__item {
    width: 354px;

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }


    @media screen and (max-width: $tablet) {
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        margin: 0 30px 30px 0;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
}


.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding: 0;
    margin: 30px 0 0 0;

    @media screen and (max-width: $tablet) {
        text-align: center;

    }
}

.features__icon {
    background-color: var(--bgc-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 270px;
    height: 120px;

    // @media screen and (max-width: $tablet) {
    //        margin: 0 auto;
    //         width: 100%;

    //     }
}


.section-text {
    color: var(--secondary-text-color);
    font-family: var(--primary-text-font), sans-serif;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;

    min-height: 75px;
    min-width: 270px;
    margin-top: 10px;


}