:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --bgc-icon: #F5F4FA;
    --primary-text-font: "Roboto";
    --secondary-text-font: "Raleway";
}

$smartphone: 480px;
$tablet:  768px;
$desktop: 1200px;